.parent{
    color: red !important;
}
h1{
    font-size: 80px;
}
h1::first-letter{
    font-size: 110px;
    color:#bbb;
}
p{
    color: green;
    font-size: 18px;
    line-height: 25px;
}
ul ol li{
    color: green;
}
ul li{
    color: yellow;
}
ul{
    margin-top: 20px;
}
p+p{
    text-decoration-line: underline;
}
h1+p{
    font-size: 30px;
    line-height:40px;
    margin-left: 30px;

}
h1+p:first-letter{
    color: yellow;
    font-size: 35px;
}